<%= render "users/shopkeeper" %>
<div class="panelbox">
  <div class="panel panel-default p_t_30">
    <div class="panel-heading"><h2>Malls</h2></div>
    <div class="panel-body">
      <table class="table table-striped table table-bordered">
        <tr>
          <th>name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      <% @shops.each do |s|%>
        <tr>
          <td><%= s.name%></td>
          <td><%= link_to "Edit", edit_shop_path(s.id) %></td>
          <td><%= link_to "Delete", shop_path(s.id), :method => :delete %></td> 
        </tr>
      <% end%>
      </table>
    </div>
  </div>
</div>

