<div style="position:absolute;top:50px;"> 
    <div class="well" style="width: 340px;height:500px; padding: 8px 0;">
      <ul class="nav nav-list">
        
        <li class="nav-header">
          <%= @shop.name %>
        </li>
        <li class="active">
          <%=link_to "show products" ,shop_products_path(@shop) %>
        </li>
        <li>
          <%=link_to "Generate Offer", new_shop_offer_path(@shop) %>
        </li>
        
      
      <ul>
      <li class="divider"></li>
        </ul>
        <li>Help</li>
        </ul>
    </div>        
</div>

<div style="position:absolute;top:45px;right:20px;">
  <%=link_to "Back" ,users_path %>
</div>
