
<%= stylesheet_link_tag "custom" %>
 
<h3> products </h3>
<div class="div-table">
  <% @products.each do |p| %>
    <div class="div-table-row">
      <div class="div-table-col"><%= p.name %></div>
      <div class="div-table-col"><%= p.description %></div>
      <div class="div-table-col"><%= link_to "Add to cart", addtocart_cart_path(p.id), :method => "get",:remote => true%></div>
    </div>
  <% end %>
</div>
