
<div style="position:fixed;top:60px;left:20px;width:50%">
  
  <% if @users.present? %>
  <h3>Confirm Pending</h3>
  <div>
    <table  class="table table-bordered">
      <tr>
       <th>email</th>
       <th>confirm</th>
       <th>discard</th>
      </tr>
      <% @users.each do |u|%>
      <tr>
        <td><%= u.email%></td>
        <td><%=link_to "confirm", pending_user_path(u.id), :method => "get" %><br /></td>
        <td><%=link_to "discard" ,user_path(u.id), :method => "delete" %><br /></td>  
      </tr>
      <% end%>
    </table>
  </div>  
    <%else%>
      <h3> no such pending request found</h3>
    <% end %>
</div>

<div style="position:absolute;top:45px;right:20px;">
  <%=link_to "Back" , users_path %>
</div>
