
<div style="text-align:center">
  <h2> List of all users </h2><br /><br />
  <div>
    <table class="table table-striped">
      <tr>
       <th>name</th>
       <th>email</th>
       <th>action</th>
      </tr>
      <% @users.each do |u|%>
      <tr>
        <td><%= u.first_name%></td>
        <td><%= u.email%></td>
        <td><%=link_to "Delete" ,user_path(u.id), :method => "delete" %><br /></td> 
      </tr>
      <% end%>
    </table>
  </div>
  
</div>

<div style="position:absolute;top:45px;right:20px;">
<%=link_to "Back" , users_path %>
</div>
