.margin_l
{
  margin-left:330px;
}
.w_color
{
  color:white
}
.registration
{
  background-color:rgb(245,245,245);
  width:50%;
  height:74%;
  position:absolute;
  left:25%;
  top:10%;
  border:5px solid black;
}
.v_searchbox
{
  position:absolute;
  top:50px;
  left:45%;
}
.paginate_p
{
  position:relative;
  top:-18px;
}
.p_l_t
{
  position:absolute;
  left:30%;
  top:15%
}
.t_b_w
{
  top:50px;
  bottom:50px;
  width:30%;
}
.p_t_30
{
  position:relative;
  top:30px;
}
.left_40
{
  left:40%;
}
.p_shop_in
{
  width: 300px;
  height:500px; 
  padding: 8px 0;
}
.p_shop
{
  position:absolute;
  top:40px;
}
.t_90
{
  top:-90px!important;
}
.s_r_m
{
  margin:0 auto;
  position:relative;
  top:15px;
}
.d_w_a
{
  display:Products;
  width:100%;
  position:absolute;
  left:1%;
  top:15%;
}
.p_t_t
{
  position:relative;
  top:-18px;
  text-align:center;
}
.product_new
{
  background-color:rgb(245,245,245);
  width:50%;
  height:450px;
  position:relative;
  left:37%;
  top:40px;
  border:5px solid black;
}
.p_r_w
{
  position: relative; 
  right: 118px;
  width:220px;
}
.p_r_86
{
  position: relative; 
  right: 86px;
}
.p_r
{
  position: relative; 
  right: 118px;
}  
.offer_new
{
  background-color:rgb(245,245,245);
  width:50%;
  height:400px;
  position:relative;
  left:500px;
  top:50px;
  border:5px solid black;
}
.m_50
{
  margin:50px;
}
.header_in
{
  font-size:30px;
  position:absolute;
  top:10px;
  left:45%
}
.set_password
{
  background-color:rgb(245,245,245);
  width:50%;
  height:74%;
  position:
  absolute;
  left:25%;
  top:10%;
  border:5px solid black;
}
.t_center
{
  text-align:center;
}
.m_top_15
{
  margin-top:15px;
}
.m_10
{
  margin:10px;
}
.g_color
{
  color:gray;
}
.b_color
{
  color:black;
}
.s_r
{
  display:inline-block;
  margin:0 auto;
  width:auto;
  max-width:94%;
  background-color:grey;
  position:relative;
  left:0px;
  top:0px;
  border:5px solid black;"
}
.s_r_thumbnail
{
  float:left;
  display:inline-block;
  padding:5px;
  height:200px;
  width:275px;
  margin:5px;
}
.s_r_thumbnail_left
{
  position:relative;
  width:50%;
  left:0px;
  top:0px;
  float:left
}
.s_r_thumbnail_right
{
  float:right;
  width:45%;
  text-align:left;
  word-wrap:break-word;
}

.product_show_thumbnail_left
{
  width:50%;float:left
}
.product_show_thumbnail_right
{
  float:right;
  height:200px;
  margin:5px;
  overflow:auto;
  width:42%;
  word-wrap:break-word;
}
.product_show_thumbnail
{
  float:left;
  display:inline-block;
  padding:5px;
  height:200px;
  width:250px;
  margin:5px;
}
.product_show
{
  display:inline-block;
  margin:auto;width:98%;
  background-color:grey;
  position:relative;
  left:0px;top:0px;
  border:5px solid black;
}
.set_margin
{
  margin-left:300px;
}
.product_div {
  background-color: rgb(128, 128, 128);
  border: 5px solid rgb(0, 0, 0);
  display: inline-block;
  margin-left: 20px;
  width: 70%;
}
.product_div_img {
  display: inline-block;
  float: left;
  height: 200px;
  margin: 5px;
  padding: 5px;
  width: 275px;
}
.product_div_img_left {
  float: left;
  width: 50%;position:relative;left:0px;top:0px;
}
.product_div_img_right 
{
  float: right;
  text-align: left;
  width: 45%;
  word-wrap: break-word;
}
.border
{
  border-style:solid;
  border-width:1px;
  margin-right:200px;
}

.footer
{
  background-color:grey;
  text-align:center;
  border-style:solid;
  border-width:2px;
  position:fixed;
  width:100%;
  height:40px;
  bottom:0px;
  z-index:999;

}
.header
{
  background-color:grey;
  text-align:center;
  border-style:solid;
  border-width:2px;
  position:relative;
  width:100%;
  height:40px;
  top:0px;

}

.signout
{
  color:green;
  position:relative;
  float:right;
  top:5px;
  right:10px;
}

.signout a{
  color: #fff;
}

.home
{
  color:green;
  position:absolute;
  top:10px;
  left:20px;
}
.search
{
  position:absolute;
  top:6px;
  left:20%;
}
.home a
{
  color: #fff;
}
.signin_content {

  background-color: #E9E9EB;
  margin-right:2px;
  width: 350px;
  min-height: 500px;
  padding: 10px;
  position:fixed;
  top:42px;
  right:5px;
  text-align:center;
}
.signin_search
{
  position:fixed;
  top:5px;
  left:20px;

}
.productbox
{
  height:200px;
  width:200px;
  float:left;
  border-style:solid;
  border-width:2px;
  border-color:grey;
  margin:2px;
}
.main_product_box
{
  position:fixed;
  left:25%;
  right:25%;
  background-color:yellow;
  width:900px;
}

.slider_box
{
  margin-left:150px;
  margin-top:97px;
  width:50%;
  height:50%;
}
.well
{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.div-table{
  display:table;         
  width:auto;         
  background-color:#eee;         
  border:1px solid  #666666;         
  border-spacing:5px;/*cellspacing:poor IE support for  this*/
}
.div-table-row{
  display:table-row;
  width:auto;
  clear:both;
}
.div-table-col{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:200px;
  height:50px;
  background-color:#ccc;  
}
.text-field-height
{
  height:30px!important;
  width:220px!important;
}

.setimage {
  float: left;
  height: 200px;
  margin: 5px;
  overflow: auto;
  width: 45%;
  word-wrap: break-word;
}
.number-field-width
{
  width:100px;
  height:25px!important;
}

.alert {
  font-weight: bold;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 18px;
  padding: 12px 25px 12px 24px;
  -moz-box-shadow: 3px 3px 1px 1px #fff;
  -webkit-box-shadow: 3px 3px 1px 1px #fff;
  box-shadow: 3px 3px 1px 1px #fff;
}
.alert-success {
  background-color: #fff;
  border-color: #fff;
  width: 280px;
  color: black;
  padding-top: 20px;
}
.validate
{
  color:red;
}

.back
{
  position:absolute;
  top:45px;
  right:20px;
}
.navp {
  float: left;
  height: 500px;
  padding: 8px 0;
  width: 300px;
}
.rightbox {
  background-color: rgb(245, 245, 245);
  border: 5px solid rgb(0, 0, 0);
  float: left;
  height: auto;
  min-height:480px;
  margin-left: 129px;
  margin-top: 50px;
  width: 51%;
}
.rightbox_mall {
  background-color: rgb(245, 245, 245);
  border: 5px solid rgb(0, 0, 0);
  float: left;
  height: auto;
  min-height:480px;
  margin-left: 129px;
  width: 51%;
}
.panelbox {
  float: left;
  margin-left: 150px;
  width: 51%;
}
.p_show
{
  position:fixed;
  top:60px;
  left:25%;
  right:25%;
}
.p_index
{
  display:inline-block;
  margin:auto;
  width:auto;
  max-width:69%;
  background-color:grey;
  position:relative;
  left:165px;
  top:5px;
  border:5px solid black;
}
.p_index_thumbnail
{
  float:left;
  display:inline-block;
  padding:5px;
  height:200px;
  width:250px;
  margin:5px;
}
.p_show_img
{
  position:absolute;
  top:30%;
  left:40%;
  background-color:white;
  border:2px solid black;
}
.center
{
  text-align:center;
}
.choose_category
{
  width:22%;
  height:10%;
  float:left;
  margin:5px;
  border:1px solid gray;
}
.p_index_thumbnail_left
{
  position:relative;
  width:50%;
  left:0px;
  top:0px;
  float:left
}
.p_index_thumbnail_right
{
  float:right;
  width:45%;
  text-align:left;
  word-wrap:break-word;
}
.s
{
  margin:35px auto 0;
  width:23%;
}
.astrik
{
  color:red;
}
.warning
{
  color:red;
}
.order_create
{
  background-color:rgb(245,245,245);
  width:60%;
  height:74%;
  position:absolute;
  left:25%;
  border:5px solid black;
}
.order_new
{
  background-color:rgb(245,245,245);
  width:50%;
  height:74%;
  position:absolute;
  left:25%;
  border:5px solid black;
}
.p_t_50
{
  position:absolute;
  top:90px;
  right:0px;
  left:0px;
}
