<%=render "/users/admin"%>
<div class="panelbox">
  <table class="table table-bordered">
    <tr>
      <th> Name </th>
      <th> Show all items</th>
    </tr>
    
    <% @category.each do |c|%>
      <tr>
        <td><%= c.name%></td>
        <td><%= link_to "Show all products", show_product_category_path(c.id) %></td>
      </tr>    
    <% end %>
  </table>
</div>



