
<center>
<h3> List of all malls </h3><br /><br />
  <div >
  <table class="table table-striped">
    <tr>
     <th>name</th>
     <th>address</th>
     <th>city</th>
    </tr>
      <% @mall.each do |m|%>
    <tr>
      <td><%= m.name%></td>
      <td><%= m.address%></td>
      <td><%=m.city.name%><br /></td> 
    </tr>
    <% end%>
  </table>
  </div>
</center>


<div style="position:absolute;top:45px;right:20px;">
<%=link_to "Back" , users_path %>
</div>
