
<h3>Offer for you</h3>

<h3> offer on category </h3> <%= @offer.category.name %> <br/>
<h3> Start Date </h3> <%= @offer.from_date %>
<h3> Description </h3> <%= @offer.message %>
<h3> Address <h3> <%= @offer.shop.mall.address %>

