<h3>Product successfully created </h3>
<%=link_to "Back" ,shop_products_path(params[:shop_id]), :method => "get" %><br />
<%=link_to "Add more products" ,new_shop_product_path(params[:shop_id]), :method => "get" %><br />
