
    <div class="header">
      
      <p style="font-size:30px;position:absolute;top:10px;left:45%">E-MARKET</p>
      <% if user_signed_in? %>
        <div class="signout">
          <%=link_to "sign out" ,destroy_user_session_path, :method => "delete" %>
        </div>
        <div class="home">
          <%=link_to "home", users_path %>
        </div>
      <% end %>
    </ul>
  </div>
</div>


