<div class="header">
  <p class="header_in">E-MARKET</p>
    <% if user_signed_in? %>
      <div class="signout">
        <%=link_to "Sign out" ,destroy_user_session_path, :method => "delete" %>
      </div>
      <div class="home">
        <%=link_to "Home", users_path %>
      </div>
    <% end %>
    </ul>
  </div>
</div>


